.k-form-input[data-v-fd5d18] {
  width: 100%;
  display: flex;
  background: #fff;
  position: relative;
  margin-bottom: 2px;
}
.k-form-input .k-form-inner[data-v-fd5d18] {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  align-items: baseline;
  width: 100%;
  line-height: 1.25rem;
  padding: 0.5rem 0.75rem;
}
.k-form-input .k-form-actions[data-v-fd5d18] {
  display: flex;
  align-items: center;
}
.k-form-input .k-form-actions button[data-v-fd5d18] {
  margin-left: 20px;
}.k-form-input[data-v-400694] {
  width: 100%;
  display: flex;
  position: relative;
  margin-bottom: 2px;
}
.k-form-input .k-form-inner[data-v-400694] {
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
}
.k-form-input .k-form-inner .k-form-config[data-v-400694] {
  width: 100%;
  border-top: 0;
  display: flex;
  background: #e6e6e6;
  border: 1px solid #ccc;
  flex-direction: column;
}
.k-form-input .k-form-inner .k-form-config .k-form-group[data-v-400694] {
  flex-grow: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
.k-form-input .k-form-inner .k-form-config .k-form-footer[data-v-400694] {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  align-items: center;
  padding: 0.6rem 1rem;
  border-top: 1px solid #ccc;
  justify-content: space-between;
}
.k-form-input .k-form-actions[data-v-400694] {
  display: flex;
  flex-direction: column;
}
.k-form-input .k-form-actions .input-handle[data-v-400694] {
  padding: 0 0.4rem 1rem 0.4rem;
}.k-pages-dialog-navbar[data-v-7a3710] {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding-right: 38px;
}
.k-pages-dialog-navbar .k-button[data-v-7a3710] {
  width: 38px;
}
.k-pages-dialog-navbar .k-button[disabled][data-v-7a3710] {
  opacity: 0;
}
.k-pages-dialog-navbar .k-headline[data-v-7a3710] {
  flex-grow: 1;
  text-align: center;
}
.k-pages-dialog .k-list-item[data-v-7a3710] {
  cursor: pointer;
}
.k-pages-dialog .k-list-item .k-button[data-theme=disabled][data-v-7a3710],
.k-pages-dialog .k-list-item .k-button[disabled][data-v-7a3710] {
  opacity: 0.25;
}
.k-pages-dialog .k-list-item .k-button[data-theme=disabled][data-v-7a3710]:hover {
  opacity: 1;
}.navigation-field .k-field-depth {
  text-align: right;
}
.navigation-field .k-field-depth strong {
  color: #000;
}
.navigation-field .k-field-header .k-dropdown-content {
  margin-top: 10px;
}
.navigation-field .k-field-header .k-dropdown-item {
  width: 180px;
  margin-bottom: 10px;
}
.navigation-field .k-field-header .k-dropdown-item .k-button-text {
  opacity: 1;
  white-space: normal;
  text-align: left;
}
.navigation-field .k-field-header .k-dropdown-item .k-button-text .k-menu-title {
  opacity: 1;
  color: #fff;
  width: 100%;
  display: block;
  margin-bottom: 8px;
}
.navigation-field .k-field-header .k-dropdown-item .k-button-text .k-menu-subtitle {
  opacity: 0.75;
  font-size: 0.675rem;
  line-height: 0.875rem;
}
.navigation-field .k-list .k-list-item:not(:last-child) {
  margin-bottom: 2px;
}
.navigation-field .nestable-handle {
  width: 100%;
  display: block;
}
.navigation-field .nestable-item-content {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: center;
}
.navigation-field .nestable-item-content:hover .nestable-handle .k-button {
  opacity: 1;
  transition: all 0.3s ease-in-out;
}
.navigation-field .nestable-handle {
  width: 26px;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  align-items: flex-start;
  margin-top: 7px;
}
.navigation-field .nestable-handle .k-button {
  opacity: 0.2;
  cursor: move;
  transition: all 0.3s ease-in-out;
}
.navigation-field .nestable {
  position: relative;
}
.navigation-field .nestable .nestable-list {
  margin: 0;
  padding: 0 0 0 26px;
  list-style-type: none;
}
.navigation-field .nestable > .nestable-list {
  padding: 0;
}
.navigation-field .nestable-item:first-child,
.navigation-field .nestable-item-copy:first-child {
  margin-top: 0;
}
.navigation-field .nestable-item {
  position: relative;
}
.navigation-field .nestable-item.is-dragging .nestable-list {
  pointer-events: none;
}
.navigation-field .nestable-item.is-dragging * {
  opacity: 0;
}
.navigation-field .nestable-item.is-dragging:before {
  content: "";
  position: absolute;
  top: 0;
  left: 26px;
  right: 0;
  bottom: 0;
  background: #e6e6e6;
  transition: all 0.3s ease-in-out;
}
.navigation-field .nestable-drag-layer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
}
.navigation-field .nestable-rtl .nestable-drag-layer {
  left: auto;
  right: 0;
}
.navigation-field .nestable-handle {
  cursor: move;
}